<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Imdb">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="CastPageTests">
        <classes>
            <class name="imdbTests.CastPageTests"/>
        </classes>
    </test>
</suite>